{%load static %}
{% load crispy_forms_tags %}


<!doctype html>
<html lang="en" class="h-100">
<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <h1 style= "font-family:courier" class="mt-5">{{ post.title }}</h1>
    <div style="margin:20px">
    <p class="lead">{{post.contenido}}</p>
        <a href="/introapp/inicio/">Back Home</a>
    </div>
  </div>
</main>
<div>
  <form method="post">
      {% csrf_token %}
      {{ form|crispy}}
      <input id ="button" type ="submit" name="enviar" value= "comentar"></input>
      <script src="{% static 'main.js' %}"></script>
  </form>

    <div style="margin:20px">
    {% for comentario in comentarios  %}
    <h4 style= "font-family: courier"> {{comentario.nombre}}({{ comentario.created_on }}) :</h4>  <p>{{ comentario.contenido}}</p>
    <p>{{comentario.cantidad_likes}} likes</p>
    <a href="{% url 'dar_like' comentario.id %}">
      {% if tienelike %}
        Dislike
      {% else %}
        Like
      {% endif %}
    </a>
    {% endfor %}
    </div>
</div>
  </body>
</html>
