{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pruebas página</title>
        <link type='text/css' href= {% static 'CSSarchivos/estilos_pp.css' %} rel='stylesheet' />
    </head>
    <body>
        <header>
            <nav class="navegacion">
                <ul class="menu">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Noticias Comprobadas</a>
                        <ul class="submenu">
                            <li><a href="#">Verdaderas</a></li>
                            <li><a href="#">Falsas</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Noticias bajo revisión</a></li>
                    <li><a href="#">Noticias en Votación</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
        {% include "plantillacolorfondopp.html" %}
        <header>
            <h1>Título página principal</h1>
        </header>
    </body>
</html>
{% endblock %}